Repository stacks-network/stacks-core, pull requests merged in 2019-12, with the labels that each got.

#1184 Set low cache-control policy for v1/info
  api/server.py
Labels: bug

#1181 New convention "!" / "?" / "is-"
  sample-programs/names.clar
  sample-programs/tokens.clar
  src/vm/analysis/definition_sorter/tests.rs
  src/vm/analysis/read_only_checker/mod.rs
  src/vm/analysis/read_only_checker/tests.rs
  src/vm/analysis/tests/mod.rs
  src/vm/analysis/type_checker/natives/iterables.rs
  src/vm/analysis/type_checker/natives/mod.rs
  src/vm/analysis/type_checker/tests/assets.rs
  src/vm/analysis/type_checker/tests/contracts.rs
  src/vm/analysis/type_checker/tests/mod.rs
  src/vm/clarity.rs
  src/vm/docs/mod.rs
  src/vm/functions/iterables.rs
  src/vm/functions/mod.rs
  src/vm/tests/assets.rs
  src/vm/tests/contracts.rs
  src/vm/tests/datamaps.rs
  src/vm/tests/defines.rs
  src/vm/tests/forking.rs
  src/vm/tests/iterables.rs
  src/vm/tests/simple_apply_eval.rs
Labels: Impacts DOCS, clarity

#1183 `get-block-info` return optional, no data for current block
  src/vm/analysis/errors.rs
  src/vm/analysis/tests/mod.rs
  src/vm/analysis/type_checker/natives/mod.rs
  src/vm/analysis/type_checker/tests/mod.rs
  src/vm/docs/mod.rs
  src/vm/functions/database.rs
  src/vm/functions/mod.rs
  src/vm/tests/contracts.rs
Labels: Impacts DOCS

#1143 Feature/track rejected txs
  blockstack/blockstackd.py
  blockstack/lib/client.py
  blockstack/lib/config.py
  blockstack/lib/nameset/db.py
  blockstack/lib/nameset/namedb.py
  blockstack/lib/nameset/virtualchain_hooks.py
  blockstack/lib/operations/tokentransfer.py
  blockstack/lib/rpc.py
  blockstack/version.py
  docs/api-specs.md
  integration_tests/bin/blockstack-test-scenario
  integration_tests/blockstack_integration_tests/scenarios/blockstackd_track_rejected.py
  integration_tests/blockstack_integration_tests/scenarios/stacks_patch_genesis_block.py
  integration_tests/blockstack_integration_tests/scenarios/stacks_sendtokens_invalid.py
  integration_tests/blockstack_integration_tests/scenarios/testlib.py
  setup.py
Labels: Impacts DOCS

#1174 Option/Response Destructuring Functions
  circle.yml
  rust-toolchain
  sample-programs/names.clar
  src/vm/analysis/definition_sorter/mod.rs
  src/vm/analysis/errors.rs
  src/vm/analysis/read_only_checker/mod.rs
  src/vm/analysis/read_only_checker/tests.rs
  src/vm/analysis/tests/mod.rs
  src/vm/analysis/type_checker/natives/mod.rs
  src/vm/analysis/type_checker/natives/options.rs
  src/vm/analysis/type_checker/tests/assets.rs
  src/vm/analysis/type_checker/tests/contracts.rs
  src/vm/analysis/type_checker/tests/mod.rs
  src/vm/ast/expression_identifier/mod.rs
  src/vm/ast/sugar_expander/mod.rs
  src/vm/docs/mod.rs
  src/vm/errors.rs
  src/vm/functions/mod.rs
  src/vm/functions/options.rs
  src/vm/tests/assets.rs
  src/vm/tests/contracts.rs
  src/vm/tests/datamaps.rs
  src/vm/tests/defines.rs
  src/vm/tests/simple_apply_eval.rs
Labels: Impacts DOCS, clarity
