Repository stacks-network/stacks-core, pull requests merged in 2022-11, with the labels that each got.

#3347 Fix/restore and gate pox sunset
  .github/workflows/bitcoin-tests.yml
  .gitignore
  src/burnchains/burnchain.rs
  src/burnchains/db.rs
  src/burnchains/mod.rs
  src/chainstate/burn/db/processing.rs
  src/chainstate/burn/db/sortdb.rs
  src/chainstate/burn/distribution.rs
  src/chainstate/burn/operations/leader_block_commit.rs
  src/chainstate/burn/operations/mod.rs
  src/chainstate/burn/operations/stack_stx.rs
  src/chainstate/coordinator/mod.rs
  src/chainstate/coordinator/tests.rs
  src/chainstate/stacks/block.rs
  src/chainstate/stacks/boot/mod.rs
  src/chainstate/stacks/boot/pox_2_tests.rs
  src/clarity_vm/clarity.rs
  src/clarity_vm/special.rs
  src/net/inv.rs
  src/net/mod.rs
  src/net/rpc.rs
  testnet/stacks-node/src/burnchains/bitcoin_regtest_controller.rs
  testnet/stacks-node/src/burnchains/mocknet_controller.rs
  testnet/stacks-node/src/neon_node.rs
  testnet/stacks-node/src/node.rs
  testnet/stacks-node/src/tests/epoch_205.rs
  testnet/stacks-node/src/tests/epoch_21.rs
  testnet/stacks-node/src/tests/integrations.rs
  testnet/stacks-node/src/tests/neon_integrations.rs
Labels: stacks-2.1

#3369 Replaced set-uint-at with replace-at
  src/chainstate/stacks/boot/pox-2.clar
Labels: stacks-2.1

#3370 Feat/3346: epoch marker for LeaderBlockCommitOp
  .github/workflows/bitcoin-tests.yml
  src/burnchains/mod.rs
  src/chainstate/burn/operations/leader_block_commit.rs
  src/chainstate/coordinator/tests.rs
  testnet/stacks-node/src/neon_node.rs
  testnet/stacks-node/src/node.rs
  testnet/stacks-node/src/tests/epoch_21.rs
Labels: stacks-2.1

#3372 [Stacks 2.1] fix: regression with pox_2_activation config
  testnet/stacks-node/src/burnchains/bitcoin_regtest_controller.rs
Labels: stacks-2.1

#3283 Feat/native segwit
  .github/workflows/bitcoin-tests.yml
  clarity/src/vm/docs/mod.rs
  clarity/src/vm/types/mod.rs
  src/burnchains/bitcoin/address.rs
  src/burnchains/bitcoin/bits.rs
  src/burnchains/bitcoin/blocks.rs
  src/burnchains/bitcoin/mod.rs
  src/burnchains/burnchain.rs
  src/burnchains/db.rs
  src/burnchains/indexer.rs
  src/burnchains/mod.rs
  src/chainstate/burn/db/processing.rs
  src/chainstate/burn/db/sortdb.rs
  src/chainstate/burn/distribution.rs
  src/chainstate/burn/operations/leader_block_commit.rs
  src/chainstate/burn/operations/leader_key_register.rs
  src/chainstate/burn/operations/mod.rs
  src/chainstate/burn/operations/stack_stx.rs
  src/chainstate/burn/operations/transfer_stx.rs
  src/chainstate/burn/operations/user_burn_support.rs
  src/chainstate/burn/sortition.rs
  src/chainstate/coordinator/mod.rs
  src/chainstate/coordinator/tests.rs
  src/chainstate/stacks/address.rs
  src/chainstate/stacks/block.rs
  src/chainstate/stacks/boot/contract_tests.rs
  src/chainstate/stacks/boot/mod.rs
  src/chainstate/stacks/boot/pox-2.clar
  src/chainstate/stacks/boot/pox_2_tests.rs
  src/chainstate/stacks/db/mod.rs
  src/chainstate/stacks/db/transactions.rs
  src/clarity_vm/clarity.rs
  src/net/chat.rs
  stacks-common/src/address/mod.rs
  stacks-common/src/deps_common/bech32/mod.rs
  stacks-common/src/deps_common/bitcoin/blockdata/transaction.rs
  stacks-common/src/deps_common/bitcoin/util/hash.rs
  stacks-common/src/deps_common/mod.rs
  stacks-common/src/util/macros.rs
  stacks-common/src/util/secp256k1.rs
  testnet/stacks-node/src/burnchains/bitcoin_regtest_controller.rs
  testnet/stacks-node/src/burnchains/mocknet_controller.rs
  testnet/stacks-node/src/burnchains/mod.rs
  testnet/stacks-node/src/config.rs
  testnet/stacks-node/src/keychain.rs
  testnet/stacks-node/src/neon_node.rs
  testnet/stacks-node/src/node.rs
  testnet/stacks-node/src/run_loop/neon.rs
  testnet/stacks-node/src/tests/bitcoin_regtest.rs
  testnet/stacks-node/src/tests/epoch_205.rs
  testnet/stacks-node/src/tests/epoch_21.rs
  testnet/stacks-node/src/tests/integrations.rs
  testnet/stacks-node/src/tests/neon_integrations.rs
Labels: stacks-2.1

#3374 chore: consistently suffix Clarity functions with `?`
  clarity/src/vm/analysis/arithmetic_checker/mod.rs
  clarity/src/vm/analysis/arithmetic_checker/tests.rs
  clarity/src/vm/analysis/read_only_checker/mod.rs
  clarity/src/vm/analysis/read_only_checker/tests.rs
  clarity/src/vm/analysis/type_checker/natives/conversions.rs
  clarity/src/vm/analysis/type_checker/natives/mod.rs
  clarity/src/vm/analysis/type_checker/natives/sequences.rs
  clarity/src/vm/analysis/type_checker/tests/mod.rs
  clarity/src/vm/costs/cost_functions.rs
  clarity/src/vm/docs/mod.rs
  clarity/src/vm/functions/mod.rs
  clarity/src/vm/functions/sequences.rs
  clarity/src/vm/tests/conversions.rs
  clarity/src/vm/tests/principals.rs
  clarity/src/vm/tests/sequences.rs
  clarity/src/vm/tests/simple_apply_eval.rs
  src/chainstate/stacks/boot/pox-2.clar
  src/clarity_vm/tests/costs.rs
Labels: stacks-2.1

#3379 Feat/3363: Shorten allowed block-commit miss distance and validate PoX outputs for missed commits
  .github/workflows/bitcoin-tests.yml
  src/chainstate/burn/db/sortdb.rs
  src/chainstate/burn/operations/leader_block_commit.rs
  src/chainstate/burn/operations/mod.rs
  src/chainstate/coordinator/tests.rs
  testnet/stacks-node/src/burnchains/bitcoin_regtest_controller.rs
  testnet/stacks-node/src/neon_node.rs
  testnet/stacks-node/src/run_loop/neon.rs
  testnet/stacks-node/src/tests/epoch_21.rs
Labels: stacks-2.1

#3339 Btc wire format for delegate stx + use active PoX contract for btc ops
  src/burnchains/burnchain.rs
  src/burnchains/db.rs
  src/burnchains/mod.rs
  src/chainstate/burn/db/processing.rs
  src/chainstate/burn/db/sortdb.rs
  src/chainstate/burn/mod.rs
  src/chainstate/burn/operations/delegate_stx.rs
  src/chainstate/burn/operations/mod.rs
  src/chainstate/coordinator/tests.rs
  src/chainstate/stacks/db/accounts.rs
  src/chainstate/stacks/db/blocks.rs
  src/chainstate/stacks/db/mod.rs
  src/chainstate/stacks/miner.rs
  src/clarity_vm/special.rs
  src/net/mod.rs
  src/util_lib/db.rs
  testnet/stacks-node/src/burnchains/bitcoin_regtest_controller.rs
  testnet/stacks-node/src/burnchains/mocknet_controller.rs
  testnet/stacks-node/src/neon_node.rs
Labels: stacks-2.1

#3383 Feat/stacks aggregation increase
  src/chainstate/stacks/boot/pox-2.clar
  src/chainstate/stacks/boot/pox_2_tests.rs
  testnet/stacks-node/src/tests/epoch_21.rs
Labels: stacks-2.1

#3267 Costs-3 contract
  clarity/src/vm/costs/cost_functions.rs
  clarity/src/vm/costs/mod.rs
  clarity/src/vm/functions/arithmetic.rs
  clarity/src/vm/functions/assets.rs
  clarity/src/vm/functions/conversions.rs
  clarity/src/vm/functions/database.rs
  clarity/src/vm/functions/mod.rs
  clarity/src/vm/functions/principals.rs
  clarity/src/vm/functions/sequences.rs
  clarity/src/vm/types/mod.rs
  src/chainstate/stacks/boot/costs-3.clar
  src/chainstate/stacks/boot/mod.rs
  src/chainstate/stacks/db/mod.rs
  src/chainstate/stacks/db/transactions.rs
  src/clarity_cli.rs
  src/clarity_vm/clarity.rs
  src/clarity_vm/database/marf.rs
  src/clarity_vm/database/mod.rs
  src/clarity_vm/tests/large_contract.rs
Labels: stacks-2.1

#3397 Cylewitruk feat/bitwise ops v2
  clarity/src/vm/analysis/arithmetic_checker/mod.rs
  clarity/src/vm/analysis/read_only_checker/mod.rs
  clarity/src/vm/analysis/type_checker/mod.rs
  clarity/src/vm/analysis/type_checker/natives/mod.rs
  clarity/src/vm/analysis/type_checker/tests/mod.rs
  clarity/src/vm/ast/parser/v2/lexer/mod.rs
  clarity/src/vm/ast/parser/v2/mod.rs
  clarity/src/vm/costs/cost_functions.rs
  clarity/src/vm/docs/mod.rs
  clarity/src/vm/functions/arithmetic.rs
  clarity/src/vm/functions/mod.rs
  clarity/src/vm/tests/simple_apply_eval.rs
  clarity/src/vm/types/signatures.rs
  src/chainstate/stacks/boot/costs-3.clar
  src/clarity_vm/tests/costs.rs
Labels: stacks-2.1

#3391 Feat/simple-astrules
  clarity/src/vm/ast/mod.rs
Labels: stacks-2.1

#3399 Fix/3261
  src/burnchains/bitcoin/spv.rs
  src/chainstate/burn/db/sortdb.rs
  src/chainstate/burn/mod.rs
  src/net/rpc.rs
  testnet/stacks-node/src/tests/epoch_21.rs
Labels: stacks-2.1

#3398 Feat/2625
  src/burnchains/db.rs
  src/burnchains/tests/affirmation.rs
  src/chainstate/burn/db/sortdb.rs
  src/chainstate/coordinator/mod.rs
  src/main.rs
  src/net/mod.rs
  testnet/stacks-node/src/neon_node.rs
Labels: stacks-2.1

#3392 fix / pox-2 error codes
  src/chainstate/stacks/boot/pox-2.clar
  src/chainstate/stacks/boot/pox_2_tests.rs
Labels: stacks-2.1

#3394 style: remove trailing whitespace from pox-2 contract
  src/chainstate/stacks/boot/pox-2.clar
Labels: stacks-2.1

#3318 Events/pox 2
  clarity/src/vm/contexts.rs
  clarity/src/vm/database/clarity_store.rs
  clarity/src/vm/docs/mod.rs
  clarity/src/vm/events.rs
  src/chainstate/coordinator/mod.rs
  src/chainstate/coordinator/tests.rs
  src/chainstate/stacks/boot/mod.rs
  src/chainstate/stacks/boot/pox-2.clar
  src/chainstate/stacks/boot/pox_2_tests.rs
  src/chainstate/stacks/db/blocks.rs
  src/chainstate/stacks/db/mod.rs
  src/chainstate/stacks/events.rs
  src/clarity_vm/special.rs
  src/cost_estimates/tests/common.rs
  src/main.rs
  src/net/mod.rs
  testnet/stacks-node/src/event_dispatcher.rs
Labels: stacks-2.1, event-stream

#3419 Fix/3418
  CHANGELOG.md
  src/chainstate/burn/db/sortdb.rs
  src/chainstate/stacks/db/blocks.rs
  src/chainstate/stacks/mod.rs
  src/main.rs
  src/util_lib/db.rs
  testnet/stacks-node/src/stacks_events.rs
  testnet/stacks-node/src/tests/integrations.rs
Labels: L1 Working Group
