Repository stacks-network/stacks-core, pull requests merged in 2023-02, with the labels that each got.

#3549 [testing] Add integration test to verify that v1 unlock height and epoch 2.1 work as expected
  .github/workflows/bitcoin-tests.yml
  testnet/stacks-node/src/config.rs
  testnet/stacks-node/src/tests/epoch_21.rs
Labels: stacks-2.1

#3536 feat: add epoch to abi RPC endpoint
  clarity/src/vm/analysis/arithmetic_checker/tests.rs
  clarity/src/vm/analysis/contract_interface_builder/mod.rs
  clarity/src/vm/analysis/mod.rs
  clarity/src/vm/analysis/type_checker/v2_05/tests/contracts.rs
  clarity/src/vm/analysis/type_checker/v2_1/tests/contracts.rs
  clarity/src/vm/analysis/types.rs
Labels: 2.1-rc4

#3548 pox endpoint changed to use current stacks height
  src/net/rpc.rs
  testnet/stacks-node/src/tests/epoch_21.rs
Labels: stacks-2.1, 2.1-rc4

#3517 Event observer: additional info for burn operations
  docs/event-dispatcher.md
  src/chainstate/burn/db/sortdb.rs
  src/chainstate/burn/operations/mod.rs
  src/chainstate/stacks/db/blocks.rs
  src/chainstate/stacks/events.rs
  testnet/stacks-node/src/event_dispatcher.rs
  testnet/stacks-node/src/tests/neon_integrations.rs
Labels: stacks-future, stacks-2.1, 2.1-rc4

#3572 Feat/stacks 2.1 finishing touches
  src/chainstate/stacks/boot/pox-2.clar
  src/core/mod.rs
  testnet/stacks-node/src/tests/neon_integrations.rs
Labels: stacks-2.1

#3472 docs: fix pox-2.clar typos
  src/chainstate/stacks/boot/pox-2.clar
Labels: stacks-2.1

#3486 [sBTC] Feat: Peg-in operation wire format
  src/burnchains/burnchain.rs
  src/chainstate/burn/db/mod.rs
  src/chainstate/burn/db/processing.rs
  src/chainstate/burn/db/sortdb.rs
  src/chainstate/burn/mod.rs
  src/chainstate/burn/operations/mod.rs
  src/chainstate/burn/operations/peg_in.rs
  src/chainstate/coordinator/tests.rs
  src/net/mod.rs
  testnet/stacks-node/src/burnchains/bitcoin_regtest_controller.rs
  testnet/stacks-node/src/burnchains/mocknet_controller.rs
  testnet/stacks-node/src/tests/neon_integrations.rs
Labels: sbtc, sbtc-alpha-testnet

#3510 [sBTC] Feat: Peg out request & fulfillment wire formats
  .github/workflows/bitcoin-tests.yml
  clarity/src/vm/types/mod.rs
  src/burnchains/burnchain.rs
  src/chainstate/burn/db/processing.rs
  src/chainstate/burn/db/sortdb.rs
  src/chainstate/burn/mod.rs
  src/chainstate/burn/operations/mod.rs
  src/chainstate/burn/operations/peg_in.rs
  src/chainstate/burn/operations/peg_out_fulfill.rs
  src/chainstate/burn/operations/peg_out_request.rs
  src/chainstate/burn/operations/test/mod.rs
  src/chainstate/burn/operations/test/serialization.rs
  src/chainstate/coordinator/tests.rs
  src/net/mod.rs
  testnet/stacks-node/src/burnchains/bitcoin_regtest_controller.rs
  testnet/stacks-node/src/burnchains/mocknet_controller.rs
  testnet/stacks-node/src/tests/neon_integrations.rs
Labels: sbtc, sbtc-alpha-testnet

#3573 docs: fix principal -construct -destruct api reference
  clarity/src/vm/docs/mod.rs
Labels: stacks-2.1

#3511 sBTC: Add burn ops RPC for PegIn
  clarity/src/vm/types/mod.rs
  docs/rpc/api/core-node/get-burn-ops.example.json
  docs/rpc/openapi.yaml
  src/chainstate/burn/mod.rs
  src/chainstate/burn/operations/mod.rs
  src/chainstate/stacks/address.rs
  src/net/http.rs
  src/net/mod.rs
  src/net/rpc.rs
  testnet/stacks-node/src/tests/neon_integrations.rs
Labels: sbtc

#3544 [eng quality] remove extern crate references
  CONTRIBUTORS.md
  Cargo.lock
  clarity/src/libclarity.rs
  clarity/src/vm/analysis/type_checker/v2_05/tests/contracts.rs
  clarity/src/vm/analysis/type_checker/v2_1/tests/contracts.rs
  clarity/src/vm/ast/parser/v1.rs
  clarity/src/vm/contexts.rs
  clarity/src/vm/costs/mod.rs
  clarity/src/vm/events.rs
  clarity/src/vm/mod.rs
  clarity/src/vm/representations.rs
  clarity/src/vm/types/serialization.rs
  clarity/src/vm/types/signatures.rs
  src/blockstack_cli.rs
  src/chainstate/burn/operations/mod.rs
  src/chainstate/coordinator/tests.rs
  src/chainstate/stacks/boot/contract_tests.rs
  src/chainstate/stacks/boot/mod.rs
  src/chainstate/stacks/db/blocks.rs
  src/chainstate/stacks/db/mod.rs
  src/chainstate/stacks/mod.rs
  src/clarity_cli.rs
  src/clarity_cli_main.rs
  src/clarity_vm/tests/costs.rs
  src/core/mod.rs
  src/cost_estimates/mod.rs
  src/lib.rs
  src/main.rs
  src/monitoring/mod.rs
  src/monitoring/prometheus.rs
  src/net/atlas/mod.rs
  src/net/http.rs
  src/net/rpc.rs
  src/util_lib/strings.rs
  stacks-common/src/deps_common/bech32/mod.rs
  stacks-common/src/libcommon.rs
  stacks-common/src/util/log.rs
  testnet/stacks-node/src/burnchains/bitcoin_regtest_controller.rs
  testnet/stacks-node/src/config.rs
  testnet/stacks-node/src/main.rs
  testnet/stacks-node/src/run_loop/mod.rs
  testnet/stacks-node/src/tests/integrations.rs
  testnet/stacks-node/src/tests/mempool.rs
  testnet/stacks-node/src/tests/mod.rs
  testnet/stacks-node/src/tests/neon_integrations.rs
Labels: L1 Working Group

#3577 [sBTC] Feat: Peg out request & fulfillment wire formats
  .github/workflows/bitcoin-tests.yml
  docs/rpc/api/core-node/get-burn-ops-peg-in.example.json
  docs/rpc/api/core-node/get-burn-ops-peg-out-fulfill.example.json
  docs/rpc/api/core-node/get-burn-ops-peg-out-request.example.json
  docs/rpc/api/core-node/get-burn-ops.example.json
  docs/rpc/openapi.yaml
  src/burnchains/burnchain.rs
  src/chainstate/burn/db/processing.rs
  src/chainstate/burn/db/sortdb.rs
  src/chainstate/burn/mod.rs
  src/chainstate/burn/operations/mod.rs
  src/chainstate/burn/operations/peg_in.rs
  src/chainstate/burn/operations/peg_out_fulfill.rs
  src/chainstate/burn/operations/peg_out_request.rs
  src/chainstate/burn/operations/test/mod.rs
  src/chainstate/burn/operations/test/serialization.rs
  src/chainstate/coordinator/tests.rs
  src/net/mod.rs
  src/net/rpc.rs
  testnet/stacks-node/src/burnchains/bitcoin_regtest_controller.rs
  testnet/stacks-node/src/burnchains/mocknet_controller.rs
  testnet/stacks-node/src/tests/neon_integrations.rs
Labels: sbtc, sbtc-alpha-testnet

#3587 Fix: Transaction receipts for runtime errors in contract publish
  CHANGELOG.md
  src/chainstate/stacks/db/transactions.rs
Labels: bug, event-stream
