Repository stacks-network/stacks-core, pull requests merged in 2023-01, with the labels that each got.

#3446 Complete testing and bugfixes for PoX reorg handling
  .github/workflows/bitcoin-tests.yml
  clarity/src/vm/representations.rs
  src/blockstack_cli.rs
  src/burnchains/affirmation.rs
  src/burnchains/burnchain.rs
  src/burnchains/db.rs
  src/burnchains/mod.rs
  src/burnchains/tests/affirmation.rs
  src/chainstate/burn/db/processing.rs
  src/chainstate/burn/db/sortdb.rs
  src/chainstate/coordinator/comm.rs
  src/chainstate/coordinator/mod.rs
  src/chainstate/coordinator/tests.rs
  src/chainstate/stacks/db/accounts.rs
  src/chainstate/stacks/db/blocks.rs
  src/chainstate/stacks/db/headers.rs
  src/chainstate/stacks/db/mod.rs
  src/chainstate/stacks/db/transactions.rs
  src/chainstate/stacks/miner.rs
  src/chainstate/stacks/mod.rs
  src/chainstate/stacks/tests/chain_histories.rs
  src/core/mod.rs
  src/core/tests/mod.rs
  src/main.rs
  src/net/download.rs
  src/net/inv.rs
  src/net/mod.rs
  src/net/p2p.rs
  src/net/relay.rs
  src/net/rpc.rs
  stacks-common/src/types/chainstate.rs
  testnet/stacks-node/src/burnchains/bitcoin_regtest_controller.rs
  testnet/stacks-node/src/config.rs
  testnet/stacks-node/src/neon_node.rs
  testnet/stacks-node/src/node.rs
  testnet/stacks-node/src/run_loop/neon.rs
  testnet/stacks-node/src/tests/epoch_21.rs
  testnet/stacks-node/src/tests/mod.rs
  testnet/stacks-node/src/tests/neon_integrations.rs
Labels: stacks-2.1, must-ship

#3479 fix: use 2.1 block limits
  src/core/mod.rs
Labels: stacks-2.1

#3501 fix: revert all regex changes in the v1 parser
  clarity/src/vm/ast/parser/v1.rs
  src/net/http.rs
Labels: consensus-critical, stacks-2.1

#3490 fix: handle `TraitReferenceType` in 2.1
  clarity/src/vm/analysis/type_checker/v2_1/mod.rs
  clarity/src/vm/analysis/type_checker/v2_1/tests/contracts.rs
  clarity/src/vm/analysis/type_checker/v2_1/tests/contracts/compute.clar
  clarity/src/vm/analysis/type_checker/v2_1/tests/contracts/impl-compute.clar
  clarity/src/vm/analysis/type_checker/v2_1/tests/contracts/use-compute.clar
  clarity/src/vm/types/signatures.rs
Labels: consensus-critical, stacks-2.1

#3492 Feat/2.1.0.0.0 rc2
  .github/workflows/bitcoin-tests.yml
  clarity/src/vm/functions/arithmetic.rs
  clarity/src/vm/variables.rs
  src/burnchains/affirmation.rs
  src/chainstate/burn/db/sortdb.rs
  src/chainstate/coordinator/mod.rs
  src/chainstate/stacks/db/blocks.rs
  src/chainstate/stacks/miner.rs
  src/main.rs
  src/net/p2p.rs
  testnet/stacks-node/src/config.rs
  testnet/stacks-node/src/neon_node.rs
  testnet/stacks-node/src/run_loop/neon.rs
  testnet/stacks-node/src/tests/epoch_21.rs
  testnet/stacks-node/src/tests/neon_integrations.rs
Labels: stacks-2.1

#3528 Fix/3527
  src/chainstate/burn/db/sortdb.rs
  src/chainstate/burn/operations/mod.rs
  src/chainstate/stacks/db/mod.rs
Labels: stacks-2.1, must-ship, 2.1-rc4

#3543 2.1: Eliminate recursion in `parse_list` and `parse_tuple`
  .github/workflows/bitcoin-tests.yml
  .github/workflows/ci.yml
  clarity/src/vm/ast/errors.rs
  clarity/src/vm/ast/parser/v2/mod.rs
Labels: 2.1-rc4

#3524 Fix/3520
  src/burnchains/bitcoin/indexer.rs
  src/burnchains/bitcoin/spv.rs
  src/burnchains/burnchain.rs
  src/burnchains/db.rs
  src/burnchains/tests/affirmation.rs
  src/burnchains/tests/db.rs
  src/burnchains/tests/mod.rs
  src/chainstate/burn/db/sortdb.rs
  src/chainstate/burn/operations/mod.rs
  src/chainstate/coordinator/mod.rs
  src/chainstate/coordinator/tests.rs
  src/chainstate/stacks/db/blocks.rs
  src/chainstate/stacks/db/mod.rs
  src/net/inv.rs
  src/net/mod.rs
  src/net/p2p.rs
  src/net/rpc.rs
  stacks-common/src/util/uint.rs
  testnet/stacks-node/src/burnchains/bitcoin_regtest_controller.rs
  testnet/stacks-node/src/burnchains/mod.rs
  testnet/stacks-node/src/neon_node.rs
  testnet/stacks-node/src/node.rs
  testnet/stacks-node/src/run_loop/neon.rs
Labels: stacks-2.1, must-ship, 2.1-rc4
